body {
  background: linear-gradient(to left, rgb(68, 138, 243), rgb(50, 236, 149));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.form-box {
  width: 380px;
  height: 450px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}
.form-box-r {
  width: 380px;
  height: 480px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}
.header-form {
  margin-bottom: 15px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 25px;
}
.password {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
  font-size: 25px;
}
.br {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 30px; */
}

.bo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  /* background-color: aqua; */
}

.social i {
  font-size: 40px;
  color: beige;
}

.social i:hover {
  color: rgb(123, 255, 0);
  cursor: pointer;
}
